<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Verify Email</h5>
        <button type="button" class="button-default" aria-label="Close" (click)="closeModal()">
          Close
        </button>
      </div>
      <div class="modal-body">
        <p>You will have received an email to verify your account. Please verify your account prior to logging in.</p>
        <p>Please check your spam folder as well.</p>
      </div>
    </div>
  </div>
</div>