<div class="standingsSelect">
  <label class="standingsSelectLabel" for="leagueSelect">Select a League:</label>
  <div *ngIf="loading">
    <img class="loading-spinner" src="/assets/loading.gif">
  </div>
  <div *ngIf="!loading">
	  <select id="leagueSelect" class="standingsSelectDropDown" [(ngModel)]="selectedLeague">
	    <option class="standingsSelectOptions" *ngFor="let league of standings" [value]="league.league_name">{{ league.league_name }}</option>
	  </select>
  </div>
</div>

<div class="standings" *ngFor="let league of standings">
	<div *ngIf="league.league_name == selectedLeague">
		<h3>Standings for {{league.league_name}}</h3>
		<table class="standingsTable">
		    <thead class="standingsTableHead">
		      <tr>
		        <th>First</th>
		        <th>Last</th>
		        <th>Games</th>
		      </tr>
		    </thead>
		    <tbody class="standingsTableBody">
		      <tr *ngFor="let official of league.officials">
		        <td><a routerLink="/official-page/{{official.first_name}}_{{official.last_name}}">{{ official.first_name }}</a></td>
		        <td><a routerLink="/official-page/{{official.first_name}}_{{official.last_name}}">{{ official.last_name }}</a></td>
		        <td>{{ official.total_games }}</td>
		      </tr>
		    </tbody>
	  </table>
	</div>

</div>
